.odd {
    background-color: #ffc0cb;
    font-family: Verdana, "DejaVu Sans", sans-serif;  
}

#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.same-font-size {
    font-size: 24px;
}

#four {
    background-color: hsl(120, 73%, 75%);
    font-weight: bold;
}

/* Add CSS Styling */