.b-one,
.b-two {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.b-one {
    background-color: #000000;
    color: hsl(0, 0%, 100%);
}

.b-two {
    background-color: rgb(255, 255, 0);
}

/* Add CSS Styling */